<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.wefor.randompicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EntranceActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".PlayListActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".music.MusicActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".game.GameActivity"
            android:screenOrientation="sensorPortrait"/>
    </application>

</manifest>